<% if obj.errors.any? %>
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <h6>Es sind folgende Fehler aufgetreten:</h6>
        <ul class="red-text darken-2">
          <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>