<%= render 'shared/errors', obj: @user, path: 'anmelden_url' %>

<div class="card">
    <div class="card-content center-align">
      <%= render 'shared/page_title', title: "Anmelden/Registrieren" %>      
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#anmelden">Anmelden</a></li>
        <li class="tab"><a href="#registrieren">Registrieren</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="anmelden">
        <p>
          Du hast schon einen Account bei IchSpiele.cc? Dann melde Dich einfach an.
        </p>
      </div>
      <div id="registrieren">
        <p>Du möchtest einen Account bei uns? Dann registrier Dich jetzt.</p>
        <%= render 'users/form' %>
      </div>
    </div>
  </div>