<footer class="page-footer purple lighten-1">
  <div class="container">
    <div class="row">
      bla bla bla
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <% fd = Date.today() %>
      &copy; IchSpiele.cc 1998-<%= fd.year %>
      <a class="right" href="#!">Nach oben</a>
    </div>
  </div>
</footer>