<% if not flash.empty? %>
 <div class="card green lighten-4">
    <div class="card-content">
      <a href="#" class="right" data-dismiss="card">&#215;</a>
      <ul>
      <% flash.each do |name, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>