<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to("IchSpiele.cc", root_path, html_options = {class: "brand-logo"}) %>
      <ul class="right">
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
      </ul>
    </div>
  </nav>
</div>