<div class="navbar-fixed">
  <nav class="white purple-text text-lighten-1">
    <div class="nav-wrapper">
      <%= link_to("Home", root_path, html_options = {class: "brand-logo purple-text text-lighten-1"}) %>
      <ul class="right purple-text text-lighten-1">
        <% if is_admin? %>
        <li><%= link_to "Admin", admin_root_path %></li>
        <% end %>
        <li><%= link_to "Einloggen", login_path %></li>
        <li><%= link_to "Ausloggen", logout_path, method: :delete %></li>
        <li>Test</li>
        <li>Test</li>
      </ul>
    </div>
  </nav>
</div>